<!DOCTYPE div PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
	<form action="#" method="post">
  <div>
    <div style="display:inline-block; width: 700px; padding-bottom: 14px;">
      <div id="query_criteria" style="padding-top: 0px;">
        <label for="condition1"></label>
        <select id="condition1" class="combobox" name="criteria[condition1]">
          <option>系统</option>
          <option>option2</option>
          <option>option3</option>
          <option>option4</option>
          <option>option5</option>
        </select>
        <label for="condition2"></label>
        <select id="condition2" class="combobox" name="criteria[condition2]">
          <option>子系统</option>
          <option>option2</option>
          <option>option3</option>
          <option>option4</option>
          <option>option5</option>
        </select>
        <label for="condition3"></label>
        <select id="condition3" class="combobox" name="criteria[condition3]">
          <option>线路</option>
          <option>option2</option>
          <option>option3</option>
          <option>option4</option>
          <option>option5</option>
        </select>
        <label for="condition4"></label>
        <select id="condition4" class="combobox" name="criteria[condition4]">
          <option>车站</option>
          <option>option2</option>
          <option>option3</option>
          <option>option4</option>
          <option>option5</option>
        </select>
     <label for="condition5"></label>
        <select id="condition5" class="combobox" name="criteria[condition5]">
          <option>资产名称</option>
          <option>option2</option>
          <option>option3</option>
          <option>option4</option>
          <option>option5</option>
        </select>
        <label for="condition6"></label>
        <select id="condition6" class="combobox" name="criteria[condition6]">
          <option>健康等级</option>
          <option>option2</option>
          <option>option3</option>
          <option>option4</option>
          <option>option5</option>
        </select>
        <a style="float: right" class="button_query" onclick="" >
        </a>
      </div>
    </div>
  </div>
</form>
<div id="query_result" style="margin-top: 0px;">

  <div style="background-image: url('../../images/table_background.png');">
    <table class="query_result_table" id="facility_index_query_result_table" border="0" >
      <caption>
      </caption>
      <thead>
      <tr id="query_result_table_header">

        <th scope="col" >序号</th>
        <th scope="col" >系统</th>
        <th scope="col" >子系统</th>
        <th scope="col" >线路</th>
        <th scope="col" >车站</th>
        <th scope="col" >资产名称</th>
        <th scope="col" >位置编码</th>
        <th scope="col" >资产描述</th>
        <th scope="col" >健康等级</th>
        <th scope="col" >趋势查看</th>
      </tr>
      </thead>
      <tbody class= "query_result_table_body" id="facility_index_query_result_table_body">
      </tbody>
    </table>
  </div>
  <div id="query_result_footer" style="width: 956px;">

    <div id="query_result_footer_current_page" >
      <img src="../../images/previous_triangle.png" />
      第 1 页
      <img src="../../images/previous_triangle.png" style="transform:rotate(180deg);-webkit-transform:rotate(180deg);" />
    </div>
    <div id="query_result_footer_total_page">
      共 10 页
    </div>
  </div>
  <div id="chart1" style="margin-top: 20px;">
    <svg></svg>
  </div>
  <script type="text/javascript">
    //OnFacilityQuery();
    TableInitial('facility_index_query_result_table', 10);
  </script>
  <script type="text/javascript">
    initLineChart('#chart1 svg');
  </script>
</div>
	</body>
</html>

