.table tr td{
	height:50px;
	text-align:left;
}

#selectTable tr td{
	height:18px;
	text-overflow:ellipsis;
}
#selectTable tbody tr:nth-child(odd) td:hover{
	background-color:#ddddf3;
}
#selectTable tbody tr:nth-child(even) td:hover{
	background-color:#aa99ee;
}
.table_span{
	background-color:#ffffff;
	width:50px;
	height:20px;
	border:1px solid purple;
	
}