<!DOCTYPE tr PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<body>
	<% (Time.now.sec%5).times do |i| %>
	<table>
 	 <tr>
    	<td><%= i*3 + 1 %></td>
    	<td>综合监控</td>
    	<td>电力系统</td>
    	<td>十号线</td>
    	<td>南京东路</td>
    	<td>高压开关阀</td>
    	<td>2013-03-01 10:11:11</td>
    	<td>良好</td>
    	<td>良好</td>
   	 	<td><a href="#" style="color: #005569;">查看详情</a></td>
  	</tr>

  <tr>
    <td><%= i*3 + 2 %></td>
    <td>信号系统</td>
    <td>轨旁设备</td>
    <td>十号线</td>
    <td>南京东路</td>
    <td>道岔</td>
    <td>2013-03-01 10:11:11</td>
    <td>良好</td>
    <td>良好</td>
    <td><a href="#" style="color: #005569;">查看详情</a></td>
  </tr>

  <tr>
    <td><%= i*3 + 3 %></td>
    <td>综合监控</td>
    <td>隧道设备</td>
    <td>十号线</td>
    <td>交通大学站</td>
    <td>风机风扇</td>
    <td>2013-03-01 10:11:11</td>
    <td>良好</td>
    <td>良好</td>
    <td><a href="#" style="color: #005569;">查看详情</a></td>
   </tr>
<% end %>
    </table>
	</body>
</html>

  



