<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">


	<!-- 启用方法控制访问权限  用于直接拦截接口上的方法，拥有权限才能访问此方法-->
	<global-method-security jsr250-annotations="enabled"/>
	
	<http pattern="/index.jsp" security="none" />
	<http pattern="/ec/**" security="none"/>
	<http pattern="/image/**" security="none"/>
	<http pattern="/ext-3.3.0/**" security="none"/>
	<http pattern="/error/403.jsp" security="none"/>
	<http pattern="/public_**" security="none"/>
	
	<!-- 配置拦截页面  -->                              <!-- 启用页面级权限控制 使用表达式 -->  
    <http auto-config='true' access-denied-page="/error/403.jsp" use-expressions="true">  
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')" requires-channel="any"/>  
    </http>  
      
    <authentication-manager>  
        <!-- 权限控制 引用 id是myUserDetailsService的server -->  
        <authentication-provider user-service-ref="myUserDetailsService"/>  
    </authentication-manager> 
  	
  
  	

</beans:beans>            