<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:tx="http://www.springframework.org/schema/tx" 
 xmlns:aop="http://www.springframework.org/schema/aop"   
 xsi:schemaLocation=
 "http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd   
  http://www.springframework.org/schema/aop 
  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
  default-lazy-init="true" >
  
  
  
  
  <!-- Dao -->
  <bean id="UsersDao" class="com.my.strutsTest.dao.impl.UserDaoImpl">
  	<property name="template" ref="hibernateTemplate"/>
  </bean>
  
 
  
 
  
  <!-- Service -->
  <bean id="UsersService" class="com.my.strutsTest.service.impl.UsersServiceImpl">
  	<property name="usersDao" ref="UsersDao"/>
  </bean>
  
 
  
  <!-- Action -->
  <bean id="UsersAction" class="com.my.strutsTest.action.UsersAction">
  	<property name="usersService" ref="UsersService"/>
  </bean>
  
 
  
</beans>
